html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.text_content {
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 206px 114px 96px 330px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #F6F7F8;
}

.h1Div {
    display: flex;
    margin-right: auto;
}

form {
    margin-right: auto;
}

.formParts {
    width: 100%;
    gap: 75px;
    padding-top: 50px;
}

::placeholder {
    color: #D1D1D1;
}

label,
input,
textarea,
#prio button,
select {
    font-size: 20px;
}

input,
textarea {
    padding-left: 20px;
    border-radius: 10px;
}

textarea {
    border: 1px solid #D1D1D1;
    padding-top: 20px;
}

select {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
    padding-left: 12px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}

.formPart {
    width: 440px;
    flex-direction: column;
    gap: 8px;
}

.requiredStar {
    color: #FF8190;
}

input {
    height: 48px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
}

#prio {
    gap: 18px;
}

#prio button {
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

#prio button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.prioUrgentActive {
    background: #FF3D00 !important;
    color: white;
}

.prioMediumActive {
    background: #FFA800 !important;
    color: white;
}

.prioLowActive {
    background: #7AE229 !important;
    color: white;
}

#date {
    outline: none !important;
    padding-right: 30px;
    background: url(../assets/icons/date.svg) no-repeat right 10px center;
    background-size: 20px 20px;
    background-color: white;
    position: relative;
    cursor: pointer;
    /* Zeigt den Zeiger, wenn der Nutzer auf das Feld fährt */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    /* Versteckt den Standard-Indikator, ohne dessen Funktionalität zu beeinträchtigen */
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    padding-right: 30px;
    /* Platz für das Icon */
    cursor: pointer;
}

input[type="date"]:focus {
    outline: none;
}

#subtask {
    flex-grow: 1;
    /* Eingabefeld nimmt den verfügbaren Platz ein */
    border: none;
    /* Entfernt den Standardrahmen */
    outline: none;
    /* Entfernt den Standardfokus */
    font-size: 16px;
    /* Schriftgröße */
    border-radius: 10px 0 0 10px;
    /* Abgerundete Ecken nur links */
    padding: 0;
}

#subtask::placeholder {
    color: #ccc;
    /* Platzhalterfarbe */
    font-size: 20px;
    font-weight: 400;
}

#addSubTask {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    /* Rahmenfarbe */
    border-radius: 10px;
    /* Abgerundete Ecken */
    padding: 0 10px;
    /* Innenabstand */
    width: 100%;
    /* Vollbreite */
    box-sizing: border-box;
    /* Padding und Border einbeziehen */
    background-color: white;
}

#addSubTask img {
    margin-left: 10px;
    /* Abstand zum Eingabefeld */
    cursor: pointer;
}

#addSubTask img:hover {
    background-color: #eeeeee;
    border-radius: 50%;
}

#addSubTask input {
    width: 100%;
    background-color: white;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 16px;
    gap: 10px;
    border-style: none;
    color: white;
    background-color: #2A3647;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    height: 45px;
}

.button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.clearBtn {
    background: white;
    color: #2A3647;
    border: 1px solid #2A3647;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.clearBtn img {
    transition: filter 0.3s ease;
}

.clearBtn:hover {
    border: 1px solid #29ABE2;
    background-color: white;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.clearBtn:hover img {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.taskFormButtons {
    padding: 75px 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4px;
}

.taskFormButtons div {
    gap: 16px;
}

input,
.addSubTask,
select,
textarea {
    cursor: pointer;
}

#seperationLine {
    border: 1px solid #D1D1D1;
}

#contactSelection {
    background: url(../assets/icons/dropdownIcon.svg) no-repeat right 10px center;
    background-color: white;
    font-size: 20px;
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px 16px;
    cursor: pointer;
    z-index: 1;
}

#contactSelection:focus {
    outline: none !important;
    border: 1px solid #29ABE2 !important;
}

/* der Focus funktioniert hier noch nicht!!!! */

#contactList {
    height: 200px;
    overflow: auto;
    flex-direction: column;
    gap: 5px;
    padding-top: 10px;
    margin-top: -10px;
    background-color: white;
}

.circle {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.contact:hover {
    background: #D1D1D1;
    cursor: pointer;
}

.contact div {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.selectedContact {
    background: #2A3647;
    color: white;
}

#subTasksList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    position: relative;
}

.subtask:hover {
    background-color: #eeeeee;
}

.subtask.editing {
    background-color: white;
}

.subtask-edit-input {
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
    border: none !important;
    outline: none;
    background: white;
    border-radius: 0;
    height: auto;
    appearance: none;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

.subtask span {
    flex-grow: 1;
}

.subtask-actions {
    display: flex;
    align-items: center;
    z-index: 2;
    overflow: visible;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.icon-wrapper:hover {
    background-color: #eeeeee;
}

.action-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/*Responsive*/

@media screen and (max-width: 1400px) {
    /* aside div div{
        display:flex;
        flex-direction: column;
    }
    header{
        padding:0;
        top:0;
        z-index:-999;
    }
    #kanbanFont{
        position:fixed;
        display:none;
    }
    body{
        justify-content:center;
        align-items:center;
    }
    .text_container{
        padding:0;
        display:flex;
        align-items: center;
    }
    #h1Div{
        display:inline-flex;
        justify-content: center;
        align-items:center;
        position: sticky;
    }
    form{
        margin:0;
    }
    form .formParts{
        flex-direction:column;
    }
    form hr{
        display:none;
    }
    .sideBar{
        display: none;
    } */

    .formParts {
        width: 100%;
        gap: 75px;
        padding-top: 50px;
        flex-flow: column;
    }

    #seperationLine {
        display: none;
    }

    form {
        margin: 0;
    }

    .h1Div {
        place-content: center;
    }
}

@media screen and (max-width: 1050px) {
    .text_content {
        padding: 150px 0 55px 20px;
        /* height: 0px; */
    }

    .text_content {
        height: auto;
    }
}

@media screen and (max-width: 750px) {
    .clearBtn{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .text_content {
        zoom:80%;
    }
}
@media screen and (max-width: 400px) {
    .text_content {
        zoom:65%;
    }
}