.text_container {
    border-radius:10px;
    border: 1px solid #D1D1D1;
    width:100%;
    display:flex;
    align-items:center;
}
form{
    gap:75px;
    margin-right: auto;
    padding-top: 50px;
}

::placeholder{
    color:#D1D1D1;
}
label, input, textarea, #prio button, select{
    font-size:20px;
}
input, textarea{
    padding-left:12px;
}
textarea {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}
textarea::placeholder {
    padding-top: 20px;
}
select{
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
    padding-left: 12px;
}
input:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}
textarea:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}
.formPart{
    width:440px;
    flex-direction:column;
    gap:8px;
}
.requiredStar{
    color: #FF8190;
}
input{
    height:48px;
    border-radius:10px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
}
.prio {
    gap: 18px;
}
#prio button{
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    border-radius:10px;
    background:white;
    border:none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#prio button.active{
    background:#FFA800;
}
#date {
    outline: none !important;
    border: 1px solid #29ABE2;
}
