@media screen and (max-width: 2000px) {
    #contactList {
        top: 630px !important;
        width: 340px !important;
    }
}

@media screen and (max-width: 1365px) {
    .text_containerBoard {
        padding: 206px 10px 96px 245px;
    }
}

@media screen and (max-width: 1180px) {
    .text_containerBoard {
        padding: 206px 5px 96px 245px;
    }
    .toggleSubmenu{
        display: flex;
    }

    .emptyColumnMessage {
        width: fit-content;
    }

    .boardContent {
        flex-direction: column;
        overflow-x: auto;
    }

    .boardCard {
        margin-right: 5px;
    }

    .drag-area {
        height: 300px;
        flex-wrap: wrap;
        width: 100vw;
        overflow-x: auto;
        margin-bottom: 0px;
        flex-flow: row;
        gap: 10px;
        padding-left: 5px;
    }

    .boardCardWithSubmenu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1020px) {
    .text_containerBoard {
        padding: 109px 5px 81px 15px;
    }

    .boardContent {
        padding-left: 0px;
        padding-bottom: 100px;
    }
    .headlineBoard {
        padding: 0 10px;
}
}

@media screen and (max-width: 650px) {
    .formPartsPopUp {
        flex-direction: column;
        align-items: center;
    }

    .popup-modal {
        border-radius: 0px;
    }

    #seperationLinePopUp {
        display: none;
    }

    #contactList {
        top: 625px !important;
        width: 439px !important;
    }
}

@media screen and (max-width: 652px) {
    .headlineBoard {
        flex-direction: column;
        align-items: baseline;
        padding-left: 10px;
        gap: 8px;
    }

    .addTaskButton span {
        display: none;
    }

    h1 {
        font-size: 41px;
    }

    #contactList {
        top: 608px !important;

    }
}

@media screen and (max-width: 630px) {
    .searchButtonContainer {
        flex-direction: column;
        align-items: baseline;
    }
}

@media screen and (max-width: 530px) {
    .containerEdit {
        zoom: 78%;
    }
}

@media screen and (max-width: 410px) {
    .popup-modal-card {
        zoom: 90%;
    }

    .containerEdit {
        zoom: 68%;
    }
}

@media screen and (max-width: 360px) {
    .popup-modal-card {
        zoom: 78%;
    }

    .containerEdit {
        zoom: 59%;
    }
}