h4 {
    font-weight: 300;
}

.headline_contacts_extended h2 {
    font-weight: 500;
}

.contact_content {
    flex-direction: row;
    background-color: #F6F7F8;
    height: 100vh;
    align-items: flex-start;
}

.contact_content_extended {
    flex-direction: row;
    align-items: center;
    gap: 54px;
}

.contact_list {
    overflow: auto;
    scroll-behavior: smooth;
    align-items: center;
    position: fixed;
    width: 456px;
    height: calc(100svh - 101px);
    background-color: white;
    margin: 100px 0 0 235px;
    box-shadow: 4px 0px 6px 0px #00000014;
    gap: 8px;
}

.add_contact {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 56px;
    padding: 12px 16px;
    margin-top: 20px;
    gap: 16px;
    border-radius: 10px;
    border: 1px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}

.add_contact:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.contacts h3 {
    width: 100%;
    padding: 17px 36px;
    font-weight: 400;
}

.single_contact {
    align-items: center;
    justify-content: flex-start;
    gap: 36px;
    height: 78px;
    padding: 15px 24px;
    border-radius: 10px;
}

.single_contact:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}

.single_contact.active:hover {
    background: none;
}

.single_contact.active {
    background-color: #2A3647 !important;
    color: white;
}

.contact_info,
.contact_info_extended {
    gap: 8px;
}

.contact_info h3 {
    padding: 0;
    font-weight: 400;
}

.contact_info_extended h3 {
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
}

.contact_info p {
    color: #007CEE;
}

.profil_badge span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 42px;
    color: white;
    border-radius: 50%;
    text-align: center;
}

.profil_badge_extended {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14vw;
    width: 14vw;
    max-width: 120px;
    max-height: 120px;
    color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    font-size: 47px;
    text-align: center;
    overflow: hidden;
    min-height: 100px;
    min-width: 100px;
}

.headline_contacts {
    width: 100%;
    gap: 30px;
    margin-left: 770px;
    margin-top: 150px;
    flex-direction: column;
}

.headline_contacts_extended {
    display: flex;
    gap: 20px;
    align-items: center;
}

.slideIn.show {
    animation: slideIn 0.4s ease-out forwards;
    animation-fill-mode: forwards;
}

html,
body {
    overflow-x: hidden;
}

.contact_tools {
    gap: 13px;
}

.edit,
.delete {
    cursor: pointer;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.edit:hover img,
.delete:hover img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(94%) saturate(3361%) hue-rotate(190deg) brightness(100%) contrast(103%);
}

.edit:hover,
.delete:hover {
    color: #007CEE;
}

.contact_headline {
    gap: 54px;
    align-items: flex-start;
}

.contact_headline h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact_details {
    gap: 15px;
}

.contact_details p:nth-child(odd) {
    font-weight: 700;
}

.contact_details p:nth-child(2) {
    color: #007CEE;
}

/* START POP UP */
.popup-overlay,
.popup-edit-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-modal,
.popup-edit-modal {
    width: 1110px;
    height: 600px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none;
    opacity: 0;
    background: linear-gradient(90deg, #2A3647 45%, white 40%);
}

.popup-modal.show,
.popup-edit-modal.show {
    display: block;
    animation: slideInFromRight 0.12s ease-out forwards;
}

.popup-modal.hide,
.popup-edit-modal.hide {
    animation: slideOutToRight 0.12s ease-out forwards;
    opacity: 0;
}

.popup-overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-modal-mobile {
    width: 500px;
    height: 700px;
    background-color: white;
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none;
    background: linear-gradient(180deg, #2A3647 45%, white 40%);
    display: none;
    flex-direction: column;

}

.closeMobilePopUp {
    float: right;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.popup-bg-mobile {
    color: white;
    zoom: 80%;
    width: 100%;
    padding-top: 92px;
}

.popup-bg {
    width: 465px;
    height: 600px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 0 48px;
    align-content: center;
}

.white {
    color: white;
}

.popupLogo {
    width: 55.6px;
    height: 66.48px;
    gap: 0px;
    opacity: 0px;
}

.underline {
    width: 90px;
    height: 4px;
    color: #29ABE2;
}

input {
    cursor: pointer;
}

input:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}

.input_login {
    gap: 32px;
}

.input_loginMobile {
    gap: 6px;
}

.fromMobilePop {
    position: absolute;
    bottom: 7%;
}

.name {
    padding-right: 30px;
    background: url(../assets/icons/person.svg) no-repeat right 21px center;
    background-size: 20px 20px;
}

.email {
    padding-right: 30px;
    background: url(../assets/icons/mail.svg) no-repeat right 21px center;
    background-size: 20px 20px;
}

.phone {
    padding-right: 30px;
    background: url(../assets/icons/call.svg) no-repeat right 21px center;
    background-size: 20px 20px;
}

.nameMobile {
    padding-right: 30px;
    background: url(../assets/icons/person.svg) no-repeat right 21px center;
    background-size: 20px 20px;
}

.emailMobile {
    padding-right: 30px;
    background: url(../assets/icons/mail.svg) no-repeat right 21px center;
    background-size: 20px 20px;
}

.phoneMobile {
    padding-right: 30px;
    background: url(../assets/icons/call.svg) no-repeat right 21px center;
    background-size: 20px 20px;
}

.email,
.phone,
.name {
    width: 422px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    font-size: 20px;
}

.emailMobile,
.phoneMobile,
.nameMobile {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px;
    font-size: 20px;
}

.popup-Right-Side {
    display: flex;
    height: 100%;
    align-items: center;
    align-self: center;
    padding: 0 0 0 30px;
}

.profileImg {
    height: 120px;
    width: 120px;
    align-self: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
}

.profileImgMobile {
    height: 120px;
    width: 120px;
    top: 37%;
    left: 34%;
    display: flex;
    width: 100%;
    text-align: -webkit-center;
    margin-top: 52px;
}

.button-DB {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 16px;
    gap: 10px;
    border-style: none;
    color: white;
    background-color: #2A3647;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    height: 45px;
}

.button-DB:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-white {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 16px;
    gap: 10px;
    border: 1px solid #2A3647;
    color: #2A3647;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    height: 45px;
}

.button-white:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.button-white:hover img {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.button-line {
    gap: 24px;
    margin-right: auto;
    padding-top: 50px;
}

.button-lineMobile {
    padding-top: 30px;
    gap: 24px;
    place-content: center;
}

.fromMobilePop {
    position: relative;
    top: 7%;
}


.popup-Right-Side-Content {
    display: flex;
    align-self: center;
    padding: 0px 0 0 40px;
}

.close {
    position: fixed;
    top: 53px;
    right: 37px;
    cursor: pointer;
    height: 20px;
}

.close_container:hover {
    position: fixed;
    top: 48px;
    right: 32px;
    background-color: #EEEEEE;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.success {
    width: 312px;
    height: 65px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2A3647;
    color: white;
    padding: 0px 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideInBottom 0.5s forwards;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 20;
}


.forMobileText {
    display: flex;
    align-items: center;
    gap: 18px;
    width: max-content;
}

.vectorUnderline {
    display: none;
    background-image: url('../assets/icons/vector_login.svg');
    width: 100px;
    height: 4px;
    margin-right: auto;
    margin-top: 13px;
    height: 3px;
}

.mobileAddButton {
    cursor: pointer;
    position: absolute;
    height: 56px;
    width: 56px;
    right: 3%;
    background-color: #2A3647;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: none;
    bottom: 0;
    margin-bottom: 100px;
}

.mobileAddButton:hover {
    border-radius: 50%;
    background-color: #29ABE2;
}

.mobileEditDelete {
    cursor: pointer;
    position: absolute;
    height: 56px;
    width: 56px;
    right: 3%;
    background-color: #2A3647;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: none;
    bottom: 0;
    margin-bottom: 100px;
}

.mobileEditDelete:hover {
    background-color: #29ABE2;
}

.hidden {
    display: none;
}

#mobileSubMenu {
    position: absolute;
    top: -180%;
    right: -15%;
    background-color: white;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: none;
}

#mobileSubMenu a {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px 16px;
    color: #2A3647;

}

.arrow_left_contact {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: absolute;
    top: 17%;
    right: 3%;
    display: none;
}

.error-message {
    justify-content: center;
    color: red;
    font-size: 12px;
    margin: -20px;
    height: 12px;
    text-align: center;
}

input.invalid {
    border: 1px solid red;
}