.contact_content {
    display: flex;
    flex-direction: row;
    background-color: #F6F7F8;
    height: 100vh;
    align-items: flex-start;
}
.contact_list {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 456px;
    height: 100vh;
    background-color: white;
    margin: 100px 0 0 235px;
    box-shadow: 4px 0px 6px 0px #00000014;
    gap:8px;
}
.add_contact {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 255px;
    height: 56px;
    padding: 12px 16px;
    margin-top: 20px;
    gap: 16px;
    border-radius: 10px;
    border: 1px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
}
.add_contact:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}
.contacts h3 {
    width: 100%;
    padding: 17px 36px;
    font-weight: 400;
}
.single_contact {
    align-items: center;
    justify-content: flex-start;
    gap: 36px;
    height: 78px;
    padding: 15px 24px;
    border-radius: 10px;
}
.single_contact:hover {
    cursor: pointer;
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
}
.contact_info {
    flex-direction: column;
    gap: 8px;
}
.contact_info h3{
    padding:0;
    font-weight: 400;
}
.contact_info p {
    color: #007CEE;
}
.profil_badge span {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 42px;
    width: 42px;
    background-color: orange; /* die Farbe muss über JS reingerendert werden, jeder User hat seine eigene Farbe */
    color: white;
    border-radius: 50%;
    text-align: center; 
}
.headline_contacts {
    align-items: center;
    gap: 30px;
    margin-left: 770px;
    margin-top: 150px;
}

.slideIn.show {
    animation: slideInFromRight .12s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%) translateY(285%);
        opacity: 0;
    }
    100% {
        transform: translateX(-405%) translateY(285%);
        /* transform: translateX(-50%) translateY(-50%); */
        opacity: 1;
    }
}
.extended_contact {
    display:flex;
    flex-direction: column;
}
.contact_tools {
    gap: 13px;
}
.edit,
.delete {
    cursor: pointer;
    gap: 8px;
}
.edit:hover img,
.delete:hover img {
    filter: brightness(0) saturate(100%) invert(42%) sepia(94%) saturate(3361%) hue-rotate(190deg) brightness(100%) contrast(103%);
}

.edit:hover,
.delete:hover {
    color: #007CEE;
}

/* START POP UP */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none; /* Versteckt standardmäßig */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-modal {
    width: 1050px;
    height: 600px;
    background-color: white;
    /* padding: 65px 60px; */
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: none; /* Versteckt standardmäßig */
    opacity: 0;
}

.popup-modal.show {
    display: block;
    animation: slideInFromRight 0.12s ease-out forwards;
}

.popup-modal.hide {
    animation: slideOutToRight 0.12s ease-out forwards;
    opacity: 0;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
}
/* ENDE POP UP */

.popup-bg{
    background-color: #2A3647;
    width: 460px;
    height: 600px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; 
    padding:  0 48px ;
    align-content: center;
}
.white{
    color: white;
}
.popupLogo{
    width: 55.6px;
    height: 66.48px;
    gap: 0px;
    opacity: 0px;
}
.underline {
    width: 90px;
    height: 4px;
    color: #29ABE2;
}