header{
    padding: 20px 40px 20px 348px;
    position: fixed;
    height: 100px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    width: 100%;
    background-color: white;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.headerNav {
    justify-content:center;
    align-items:center;
    gap:16px;
}
.headerHelp {
    padding: 0;
    width: 50px;
}
.help_icon {
    height: 30px;
    width: 30px;
}
.help_icon:hover {
    height: 34px;
    width: 34px;
}
#profileName {
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 3px solid #2A3647;
    border-radius: 50%;
    width:48px;
    height: 48px;
    cursor:pointer;
    color:#29ABE2;
}
#profileName:hover {
    background-color: #D1D1D1;
}
#headerSubMenu{
    list-style:none;
    position:absolute;
    z-index:999;
    right:30px;
    top:100px;
    border-radius:10px 0 10px 10px;
    background: #2A3647;
}
.hidden{
    display:none;
}