.headline {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container {
    flex-direction: row;
}

.join {
    color: #29ABE2;
}

.number {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.help_list {
    gap: 24px;
}

.help_text {
    flex-direction: column;
}

.text_container_help {
    padding: 206px 114px 96px 330px;
    width: 100%;
    flex-direction: column;
    background-color: #F6F7F8;
}

@media screen and (max-width: 1020px) {

    .text_container_help {
        height: auto !important;
        padding: 95px 5px 10px 10px;
    }

}