
.headline {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.arrow_left {
    height: 32px;
    cursor: pointer;
}
.arrow_left:hover {
    background-color: #EEEEEE;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.container {
    flex-direction: row;
}
.join {
    color: #29ABE2;
}
.number {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.help_list {
    gap: 24px;
}
.help_text {
    flex-direction: column;
}
