ul {
    list-style-position: inside;
}

.headline {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.arrow_left:hover {
    background-color: #EEEEEE;
    border-radius: 50%;
}

.join {
    color: #29ABE2;
}

.text_container_legal {
    padding: 206px 114px 96px 330px;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    flex-direction: column;
    background-color: #F6F7F8;

}

@media screen and (max-width: 1020px) {
    .text_container_legal {
        padding: 115px 25px;
        height: auto !important;
    }

}