.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    /* width: auto; */
    /* width: 30px; */
    /* height: 87px; */
    border-radius: 8px;
    gap: 12px;
    place-content: center;
    /* padding:15px 0 15px 0; */
}

.mobile:hover {
    background-color: #405173;
    /* Farbe ändern beim Hover */
}

.mobileImg {
    width: 30px;
}

.mobileSideBar {
    display: none;
    justify-content: space-around;
    height: 87px;
    background-color: #2A3647;
    align-items: center;
    width: 100%;
}

.mobileSideBar a {
    text-decoration: none;
    color: #CDCDCD;
    width: 105px;
    height: 87px;
    padding-top:4px ;  
    border-radius: 12px;
} 
.mobileSideBar a.activeMobileNavigationPoint {
    background-color: #091931; /* Farbe für aktiven Link */
}

.mobileSideBar a:hover {
    background-color: #405173; /* Farbe für Hover */
}

/* Priorisiere den aktiven Zustand auch bei Hover */
.mobileSideBar a.activeMobileNavigationPoint:hover {
    background-color: #091931; /* Aktive Farbe bleibt */
    
}


@media screen and (max-width: 1020px) {
    .mobileSideBar {
        display: flex;
        position: fixed;
        bottom: 0;
    }
}