form {
    margin-right: auto;
}

.formParts {
    width: 100%;
    gap: 75px;
    padding-top: 50px;
}

::placeholder {
    color: #D1D1D1;
}

label,
input,
textarea,
#prio button,
select {
    font-size: 20px;
}

input,
textarea {
    padding-left: 20px;
}

textarea {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

textarea::placeholder {
    padding-top: 20px;
}

textarea:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}

select {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
    padding-left: 12px;
}

input {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
}

input:focus {
    outline: none !important;
    border: 1px solid #29ABE2;
}

.formPart {
    width: 440px;
    flex-direction: column;
    gap: 8px;
}

.requiredStar {
    color: #FF8190;
}

#prio {
    gap: 18px;
}

#prio button {
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    background: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

#prio button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;

}

.activePrio {
    background: #FFA800 !important;
}

#date {
    outline: none !important;
}

#date:focus {
    border: 1px solid #29ABE2;
}

#addSubTask {
    width: 100%;
}

#addSubTask input {
    border-right: 0;
    border-radius: 10px 0 0 10px;
    width: calc(100%-48px);
    width: 100%;
}

#addSubTask img {
    background: white;
    border-radius: 10px 10px 10px 10px;
}

.button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 16px;
    gap: 10px;
    border-style: none;
    color: white;
    background-color: #2A3647;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    height: 45px;
}

.button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.clearBtn {
    background: white;
    color: #2A3647;
    border: 1px solid #2A3647;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.clearBtn img {
    transition: filter 0.3s ease;
}

.clearBtn:hover {
    border: 1px solid #29ABE2;
    background-color: white;
    color: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.clearBtn:hover img {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(180deg) brightness(100%) contrast(100%);
}

.taskFormButtons {
    padding: 75px 0;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.taskFormButtons div {
    gap: 16px;
}