* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    scrollbar-width: thin;
    scrollbar-color: #a8a8a8 #ffffff;
}

*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;
    border-radius: 10px;
    border: 3px solid #ffffff;
    border-radius: 15px;
}

body {
    background-color: #F6F7F8;
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 61px;
    font-weight: 700;
}

h2 {
    font-size: 27px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
}

h4 {
    font-size: 27px;
    font-weight: 400;
}

p {
    font-size: 16px;
    font-weight: 400;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    color: #CDCDCD !important;
    z-index: 2;
}

.bc1 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.bc2 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 6px;
}

.bc3 {
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
}

.hidden {
    display: none;
}

.text_container {
    padding: 206px 114px 96px 330px;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: #F6F7F8;
}

.arrow_left {
    height: 32px;
    width: 32px;
    cursor: pointer;
    position: fixed;
    top: 22.1%;
    left: 90%;
}

.arrow_left:hover {
    background-color: #EEEEEE;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.containerContent {
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

select {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    line-height: 24px;
    padding-left: 12px;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../assets/icons/arrow_drop_down.svg");
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: calc(100% - 18px) center;
    transition: background-image 0.15s linear;
}

select:focus {
    background-image: url("../assets/icons/arrow_drop_up.svg");
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInLogin {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }

    100% {
        transform: translateX(100%) translateY(-50%);
        opacity: 0;
    }
}

@keyframes slideInBottom {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes moveLogo {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 274px;
        height: 335px;
    }

    40% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 274px;
        height: 335px;
    }

    100% {
        top: 32px;
        left: 32px;
        transform: translate(0, 0);
        width: 100px;
        height: 100px;
    }
}

@keyframes fadeOut {
    0% {
        background-color: #f6f7f8;
        opacity: 1;
    }

    40% {
        background-color: #f6f7f8;
        opacity: 1;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

@keyframes changeZIndex {
    0% {
        z-index: 1;
    }

    100% {
        z-index: -1;
    }
}

@media screen and (max-width: 1020px) {

    h1 {
        font-size: 55px;
    }

}
@media screen and (max-width: 1000px) {
    
}