<header class="header">
    <div class="max-width">
        <span id="kanbanFont">Kanban Project Management Tool</span>
        <div class="headerNav flex">
            <div>
                <img class="logoheader" src="../assets/icons/logo_black.svg" >
            </div>
            <a class="headerHelp" href="help.html">
                <img class="help_icon" src="../assets/icons/help.svg">
            </a>
            <a class="headerProfile flex" id="profileName"></a>        
            <div id="headerSubMenu" class="hidden">
                <a class="helpHeader" href="help.html">Help</a>
                <a href="legalNotice.html">Legal Notice</a>
                <a href="privacy.html">Privacy Policy</a>
                <a onclick="logout()" href="login.html">Log out</a>
            </div>
        </div>
    </div>
</header>

