<header>
    Kanban Project Management Tool
    <div class="flex">
        <a href="../../html/help.html">
            <img class="help_icon" src="../assets/icons/help.svg">
        </a>
        <!-- <a></a> Profilname, Kreis, JS rendern-->
        <a class="flex" id="profileName">
        </a>        
    </div>
</header>
<ul id="headerSubMenu">
    <li><a href="../../html/legalNotice.html">Legal Notice</a></li>
    <li><a href="../../html/privacy.html">Privacy Policy</a></li>
    <li><a href="../../html/index.html">Log out</a></li>
</ul>