<header class="header">
    <span id="kanbanFont">Kanban Project Management Tool</span>
    <div class="headerNav flex">
        <div>
            <img class="logoheader" src="../assets/icons/logo_black.svg" >
        </div>
        <a class="headerHelp" href="help.html">
            <img class="help_icon" src="../assets/icons/help.svg">
        </a>
        <!-- Profilname, Kreis, JS rendern -->
        <a class="headerProfile flex" id="profileName"></a>        
        <div id="headerSubMenu" class="hidden">
            <a class="helpHeader" href="help.html">Help</a>
            <a href="legalNotice.html">Legal Notice</a>
            <a href="privacy.html">Privacy Policy</a>
            <a href="index.html">Log out</a>
        </div>
    </div>
</header>

