<!-- <div w3-include-html="../assets/templates/header.html"></div> -->
    <nav class="mobileSideBar">
        <div class="mobile" href="../../html/summary.html"><img class="mobileImg" src="../assets/icons/summary.svg"><span>Summary</span></div>
        <div class="mobile" href="../../html/board.html"><img class="mobileImg" src="../assets/icons/board.svg"><span>Board</span></div>
        <div class="mobile" href="../../html/addTask.html"><img class="mobileImg" src="../assets/icons/add_task.svg"><span>Add Task</span></div>
        <div class="mobile" href="../../html/contacts.html"><img  class="mobileImg" src="../assets/icons/contacts.svg"><span>Contacts</span></div>    
    </nav>