<div w3-include-html="../assets/templates/header.html"></div>
<div class="sideBar flex">
    <img src="../assets/img/logoWhite.png">
    <nav class="sideBarList flex">
        <a class="flex" href="../../html/summary.html"><img class="icon" src="../assets/icons/summary.png"><span>Summary</span></a>
        <a class="flex" href="../../html/addTask.html"><img class="icon" src="../assets/icons/addTask.png"><span>Add Task</span></a>
        <a class="flex" href="../../html/board.html"><img class="icon" src="../assets/icons/board.png"><span>Board</span></a>
        <a class="flex" href="../../html/contacts.html"><img class="icon" src="../assets/icons/contacts.png"><span>Contacts</span></a>
    </nav>
    <div class="policyAndNotice flex">
        <span>Privacy Policy</span>
        <span>Legal notice</span>
    </div>
</div>