<div w3-include-html="../assets/templates/header.html"></div>
<div class="sideBar flex">
    <img src="../assets/img/logo.svg">
    <nav class="sideBarList flex">
        <a class="flex" href="../../html/summary.html"><img class="icon" src="../assets/icons/summary.svg"><span>Summary</span></a>
        <a class="flex" href="../../html/addTask.html"><img class="icon" src="../assets/icons/add_task.svg"><span>Add Task</span></a>
        <a class="flex" href="../../html/board.html"><img class="icon" src="../assets/icons/board.svg"><span>Board</span></a>
        <a class="flex" href="../../html/contacts.html"><img class="icon" src="../assets/icons/contacts.svg"><span>Contacts</span></a>
    </nav>
    <div class="policyAndNotice flex">
        <a href="privacy.html" target="_blank"><span>Privacy Policy</span></a>
        <a href="legalNotice.html" target="_blank"><span>Legal notice</span></a>
    </div>
</div>